/* CSS */

.container {
    height:100vh;
    position: relative;
    background-color: #001f3f;
}

.container .head{
    position: absolute;
    font-family: 'Lato';
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:#FF4136;
    font-weight: bold;
    font-size: 3em;
}

.container .form {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.container .form .stacked {
    background-color: #001f3f;
}

.container .form button{
    text-align: center;
}




